@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.downloadbutton{
  width: 150px;
}
.landingbuttons {
  display: flex;
}
.landingbuttons img {
  width: 20px;
}
header .logobig {
  font-weight: 700;
  font-size: 2em;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.logobig:hover {
  transform: scale(1.1);
}
.logosmall:hover {
  transform: scale(1.1);
}

.logosmall {
  display: none;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.logosmall:hover {
  transform: scale(1.1);
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}
header a img {
  width: 2em;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 20px;
  color: black;
  transition-duration: 0.1s;
  transition-property: background-color, color;
  transition-timing-function: ease-in;
}

header ul li a:hover,
header ul li a.active {
  background: black;
  color: white;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 100px;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, white,transparent);
  z-index: 1;
}

#blob1, #blob2, #blob3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro1 {
  background: white;
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 100px;
  padding-right: 100px;
}
.intro2 {
  background: white;
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 100px;
  padding-right: 100px;
}

.intro1 h1, .intro2 h1 {
  font-size: 3.5 em;
  margin-bottom: 10px;
}

.phone {
  max-width: 250px;
}

.landing {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  position: relative;
  z-index: 10;
  margin-top: 40px;
}

.space {
  width: 5vw;
}

.landing h2 {
  font-size: 3em;
  padding-bottom: 20px;
}

.description {
  line-height: 25px;;
  max-width: 40em;
  background-color: white;
  padding: 20px;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: lightblue;
  border-width: 5px;
  border-style: solid;
  border-radius: 8px;
  z-index: 1000;
}

.downloadlink {
  color: #42a5f5;
  border-style: solid;
  background-color: white;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #42a5f5;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 0.1s;
  transition-property: color;
  transition-timing-function: ease-in;
  text-decoration: none;
  margin-right: 20px;
}

.descriptionspacevertical {
  height: 20px;
}


.downloadlink:hover {
  color: white;
  background-color: #42a5f5;
  border-color: #42a5f5;
  
}

video {
  display: inline-block;
  max-height: 30em;
  box-shadow: 10px 10px 20px #888888;
  border-radius: 10px;
  z-index: 10000;
}

.videotitle {
  max-width: 30em;
  line-height: 30px;
  letter-spacing: 1px;
}

.readmorelink {
  text-decoration: none;
  color: #42a5f5;
  transition-duration: 0.1s;
  transition-property: background-color, color;
  transition-timing-function: ease-in;
}

.readmorelink:hover {
  color:darkblue;
}


.download {
  background:white;
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content:center;
  align-items: center;
  flex-direction: row;
}

.end {
  display:flex;
  flex-direction: column;
  height: 40vh;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 2;
}
.hover-card{
  flex-direction: column;
  display:flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 10px 10px 20px #888888;
  z-index: 2;
}

.smallphone {
  max-width: 200px;
}

.playstorelinks {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

footer {
  height: 20vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 20px;
  padding: 5px;
}
#blob4 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1000;
}

#titlelogo {
  max-width: 150px;
  display:block;
  margin: 0 auto;
}

.download p {
  padding: 20px;
}

.downloadlogo {
  max-width: 125px;
}

.downloadsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.downloadsection a:hover {
  opacity: 0.5;
}
.footerlinks {
  display: flex;
  justify-content: space-evenly;
}

button {
  display: none;
}
.navbutton {
  display: block;
  background-color: white;
  border-width: 0;
  font-size: 20px;
}
.dropdown-content {
  display: flex;
  flex-direction: row;
}
.mobilereplacementimage {
  display:none;
}

.privacypolicy {
  margin: 40px;
  line-height: 28px;
}
.listmember {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 40px;
}

@media screen and (max-width: 900px) {
  .end {
    flex-direction: column;
  }
  .intro1, .intro2 {
    height: auto;
  }
  video {
    display: none;
  }
  .mobilereplacementimage {
    display: block;
    display: inline-block;
  max-height: 30em;
  box-shadow: 10px 10px 20px #888888;
  border-radius: 10px;
  }
  .dropdown-content {
    display: flex;
    flex-direction: column;
  }
  button {
    position: absolute;
    display: block;
    margin: 15px;
    font-size: 24px;
    border-style: none;
    background-color: inherit;
    /* cursor: pointer; */
    z-index: 10000;
  }
  header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .logobig {
    display: none;
  }
  .logosmall {
    display: block;
  }
  .logosmall img {
    min-width: 55px;
    max-width: 60px;
}
  .dropdown{
    display: none;
    flex-direction: column;
    /* display: block; */
    width: 100%;
    height: 90vh;
  }

  header ul li {
    display: flex;
    padding: 20px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
    background-color: white;

  }
  .landing {
    z-index: 10;
  }
  section {
    display: flex;
  }
  header {
    flex-direction: column;
  }
  .phone {
    display: none;
  }
  .description {
    display: flex;
    flex-direction: column;
  }
  .description a {
    text-align: center;
  }
  .intro1, .intro2 {
    flex-direction: column;
  }
  .intro2 {
    flex-direction:column-reverse
  }
  .landingbuttons {
    flex-direction: column;
  }
  .smallphone {
    display: none;
  }
  .download {
    height: 30vh;
  }
  .videotitle {
    text-align: center;
  }
  .introtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header {
    background-color:white;
    position: fixed;
  }
  .menubutton {
    padding: 10px;
    position: fixed;
    border-radius: 50%;
    transition-timing-function: ease-in-out;
    transition-property: background-color;
    transition-duration: 0.2s;
  }
  header ul li {
    height: 22vh;
  }

  .show {
    display: block;
    opacity: 1;
  }
  
}

.donate {
  padding: 20px;
  flex-direction: column;
  height: 30vh;
  background-color: white;
  z-index: 1;
  display:flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 20px #888888;
  margin: 50px;
}

.menubutton:hover {
  background-color: #ecececfd;
  border-radius: 50%;
  cursor: pointer;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: all .2s ease-in-out;
}

.menu-btn__burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 3px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px lightgray;
  transition: all .2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {

  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px lightgray;
  transition: all .2s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
/* Animation */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: white;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

a {
  font-weight: normal;
}